.playlistName {
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

.deleteButton {
    margin-top: 10px;
    width: 100%;
    background-color: #e5383b;
    color: #ffffff;
}

.addButton {
    margin-top: 20px;
    width: 100%;
    background-color: #73a942;
    color: #ffffff;
}

.inputPlaylistName {
    margin-bottom: 20px;
}